<div class="row mt-3">
    <div class="col-lg-6">
        <h2>Listado de Comentarios</h2>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-end" routerLink="/agregar">Nuevo Comentario</button>
    </div>
</div>

<table *ngIf="listComentarios.length>0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Título</td>
            <td>Creador</td>
            <td>Fecha</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comentario of listComentarios">
            <td>
                <a [routerLink]="['/ver', comentario.id]">{{comentario.titulo}}</a>
            </td>
            <td>{{comentario.creador}}</td>
            <td>{{comentario.fechaCreacion | date:'dd/MM/yy'}}</td>
            <td><button class="btn btn-primary btn-sm float-end" [routerLink]="['/editar', comentario.id]">Editar</button></td>
            <td><button (click)="eliminarComentario(comentario.id)"class="btn btn-danger btn-sm float-end">Eliminar</button></td>
        </tr>
    </tbody>
</table>

<div #error class="row mt-5">
    <p>No hay comentarios para mostrar</p>
</div>