<h1 class="mt-3">Agregar Comentario</h1>
<form class="mt-5" [formGroup]="agregarComentario" (ngSubmit)="agregar()">
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo</label>
        <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Titulo del comentario">
        <span *ngIf="agregarComentario.get('titulo')?.invalid && agregarComentario.get('titulo')?.touched" class="text-danger">
            El <strong>titulo</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="creador" class="form-label">Creador</label>
        <input formControlName="creador" type="text" class="form-control" id="creador" placeholder="Nombre del creador">
        <span *ngIf="agregarComentario.get('creador')?.invalid && agregarComentario.get('creador')?.touched" class="text-danger">
            El <strong>creador</strong> es requerido
        </span>
    </div>
    <div class="mb-3">
        <label for="texto" class="form-label">Tu comentario</label>
        <textarea formControlName="texto" class="form-control" id="texto" rows="8"></textarea>
        <span *ngIf="agregarComentario.get('texto')?.invalid && agregarComentario.get('texto')?.touched" class="text-danger">
            El <strong>comentario</strong> es requerido
        </span>
    </div>

    <button class="btn btn-secondary" routerLink="/" type="button">Volver</button>
    <button class="btn btn-primary float-end" type="submit" [disabled]="agregarComentario.invalid">Aceptar</button>
</form>
